.card-wrapper {
  box-sizing: border-box;
  width: 100%;
  background: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 3px #fadede;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.id-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.id-text {
  font-size: 14px;
  font-weight: 500;
  color: #697077;
}

.usr-img-wrapper {
  position: relative;
}

.usr-img-wrapper svg {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 0;
  bottom: 0;
  border: 1px solid white;
  border-radius: 50%;
}

.usr-img {
  height: 20px;
  width: auto;
  border-radius: 50%;
}

.title-line {
  display: flex;
  gap: 0.5rem;
}

.title-line .status-icon {
  margin-top: 0.1rem;
}

.title {
  font-size: 15px;
  font-weight: 500;
  color: #343a3f;
  line-height: 1.2;
}

.bottom-line {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.priority-img-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border: 1px solid #c1c7cd;
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  min-width: 20px;
  min-height: 20px;
}

.tags {
  box-sizing: border-box;
}

.tag {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.3rem;
  border: 1px solid #c1c7cd;
  border-radius: 4px;
  min-width: 24px;
  min-height: 24px;
}

.tag h1 {
  font-size: 14px;
  font-weight: 500;
  color: #697077;
}

@media (max-width: 768px) {
  .card-wrapper {
    width: 100%;
  }
}